<h1>Login</h1>
<!-- Contenu de votre login -->
<form
  [formGroup]="form"
  class="lg:w-1/2 mx-auto flex flex-col space-y-4 sm"
  (ngSubmit)="login()">
  <mat-form-field>
    <mat-label>E mail</mat-label>
    <input formControlName="email" matInput placeholder="Placeholder" />
    <mat-icon matSuffix>mail</mat-icon>
    <!-- display mat hint with error message if form.controls.email.errors -->
    <mat-hint *ngIf="form.controls.email.errors" class="text-red-500">
      error
    </mat-hint>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Password</mat-label>
    <input formControlName="password" matInput placeholder="Placeholder" />
    <mat-icon matSuffix>lock</mat-icon>
    <mat-hint *ngIf="form.controls.password.errors" class="text-red-500">
      error {{ form.controls.password.errors | json }}
    </mat-hint>
  </mat-form-field>

  <div class="grid lg:grid-cols-2 gap-6 mt-4">
    <button
      mat-raised-button
      color="primary"
      type="submit"
      [disabled]="!form.valid">
      Login
    </button>

    <p *ngIf="asError" class="text-red-500">email or password unknow</p>
    <a mat-raised-button color="primary" [routerLink]="['/enroll']">
      Create an account
    </a>
  </div>
</form>
