<h1>
  <mat-icon>badge</mat-icon>
  Detail Person
</h1>
<a mat-raised-button color="primary" [routerLink]="['/person']">Go back</a>

<h2
  *ngIf="!person"
  class="lg:w-1/2 mx-auto flex flex-col space-y-4 text-center">
  Sorry, we couldn't find the project you were looking for. It may not exist.
  Please try again.
</h2>
<div *ngIf="person" class="lg:w-1/2 mx-auto flex flex-col space-y-4">
  <h2>
    ID: <span>{{ person.id }}</span>
  </h2>

  <div class="grid gap-5 grid-flow-row lg:grid-flow-col">
    <h2>First Name:</h2>
    <p class="inline-block">{{ person.firstName }}</p>
    <h2 class="inline-block">Last Name:</h2>
    <p class="inline-block">{{ person.lastName }}</p>
  </div>
  <h2>Job:</h2>
  <p>{{ person.job.name }}</p>
  <div
    *ngIf="person"
    class="grid gap-5 grid-flow-row mt-20 h-28 lg:grid-flow-col">
    <a
      mat-raised-button
      color="primary"
      [routerLink]="['/person', person.id, 'update']"
      >Update</a
    >
    <button mat-raised-button color="primary" (click)="delete()">Delete</button>
  </div>
</div>
