<header class="w-full bg-slate-200 h-14 flex justify-between items-center">
  <button mat-button [matMenuTriggerFor]="menu">
    <mat-icon>menu</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item>
      <a routerLink="/project" mat-button>
        <mat-icon>table_view</mat-icon>Project</a
      >
    </button>
    <button mat-menu-item>
      <a routerLink="/person" mat-button>
        <mat-icon>settings_account_box</mat-icon> Person</a
      >
    </button>
    <button mat-menu-item>
      <a routerLink="/job" mat-button> <mat-icon>work</mat-icon> Job</a>
    </button>
    <button mat-menu-item>
      <a routerLink="/exercise" mat-button
        ><mat-icon>border_color</mat-icon>Exercise</a
      >
    </button>
  </mat-menu>

  <a routerLink="" mat-button>
    <img
      src="assets/project manager.png"
      alt="Logo"
      class="h-12 cursor-pointer" />
  </a>

  <!-- if logged, display user mail  -->
  <!-- if not logged display login button -->

  <a routerLink="/login" mat-button *ngIf="!user">
    <mat-icon>login</mat-icon>
    Login
  </a>
  <button mat-button class="text-lg" *ngIf="user">
    <mat-icon>person</mat-icon>
    Hello {{ user.name }}!
  </button>
  <button mat-button class="text-lg" (click)="logout()" *ngIf="user">
    <mat-icon>logout</mat-icon>
    LogOut
  </button>
</header>
<div class="mx-auto container my-8">
  <div class="mx-4">
    <router-outlet />
  </div>
</div>

<footer
  class="w-full bg-slate-200 h-14 flex justify-center items-center fixed bottom-0">
  <a routerLink="" mat-button>
    <img
      src="assets/project manager.png"
      alt="Logo"
      class="h-12 cursor-pointer" />
  </a>
</footer>
