<header class="w-full bg-slate-200 h-14 flex justify-center items-center">
  <a routerLink="" mat-button>
    <img
      src="assets/project manager.png"
      alt="Logo"
      class="h-12 cursor-pointer" />
  </a>

  <a routerLink="/project" mat-button>Project</a>

  <!-- if logged, display user mail  -->
  <!-- if not logged display login button -->

  <a routerLink="/login" mat-button *ngIf="!user">
    <mat-icon>login</mat-icon>
    Login
  </a>
  <button mat-button class="text-lg" *ngIf="user">
    <mat-icon>person</mat-icon>
    Hello {{ user.name }}!
  </button>
</header>
<div class="mx-auto container my-8">
  <div class="mx-4">
    <router-outlet />
  </div>
</div>

<footer class="w-full bg-slate-200 h-14 flex justify-center items-center">
  <a routerLink="" mat-button>
    <img
      src="assets/project manager.png"
      alt="Logo"
      class="h-12 cursor-pointer" />
  </a>
</footer>
