<h1>Create a project</h1>
<form
  [formGroup]="form"
  class="grid lg:grid-cols-2 lg:gap-6 mx-4"
  (ngSubmit)="submitProject()">
  <mat-form-field>
    <mat-label>Project's name</mat-label>
    <input
      formControlName="name"
      matInput
      placeholder="Ex: Create a website"
      value="" />
  </mat-form-field>

  <mat-form-field>
    <mat-label>Project's contributors</mat-label>
    <mat-select formControlName="personnes" multiple>
      @for (person of persons; track person) {
        <mat-option [value]="person.firstName"
          >{{ person.firstName + ' ' + person.lastName }}
        </mat-option>
      }
    </mat-select>
  </mat-form-field>

  <mat-form-field class="example-form-field">
    <mat-label>Project's range</mat-label>

    <mat-date-range-input
      [rangePicker]="rangeProject"
      [comparisonStart]="form.controls.startDate.value"
      [comparisonEnd]="form.controls.endDate.value">
      <input
        matStartDate
        placeholder="Start date"
        formControlName="startDate" />
      <input matEndDate placeholder="End date" formControlName="endDate" />
    </mat-date-range-input>
    <mat-hint>DD/MM/YYYY – DD/MM/YYYY</mat-hint>
    <mat-datepicker-toggle
      matIconSuffix
      [for]="rangeProject"></mat-datepicker-toggle>
    <mat-date-range-picker #rangeProject></mat-date-range-picker>
  </mat-form-field>

  <mat-form-field class="lg:col-span-2 grid justify-center">
    <mat-label>Describe the project</mat-label>
    <textarea
      formControlName="description"
      matInput
      placeholder="Ex.The objective was..."></textarea>
  </mat-form-field>

  <div class="lg:col-span-2 grid justify-center">
    <button
      class="w-80"
      mat-raised-button
      color="primary"
      type="submit"
      [disabled]="!form.valid">
      Publish my project
    </button>
    <p *ngIf="projectNameAlreadyUsed" class="text-red-500 mx-auto">
      This project's name has already been used.
    </p>
  </div>
</form>
