<h1>Detail Project</h1>
<h2
  *ngIf="!project"
  class="lg:w-1/2 mx-auto flex flex-col space-y-4 sm text-align center">
  Sorry, we couldn't find the project you were looking for. It may not exist.
  Please try again.
</h2>
<div *ngIf="project" class="lg:w-1/2 mx-auto flex flex-col space-y-4 sm">
  <h2>Project: {{ project.name }}</h2>

  <h2 class="inline">Start date:</h2>
  <p class="inline">{{ project.startDate }}</p>
  <h2>End date:</h2>
  <p class="inline">{{ project.endDate }}</p>
  <h2>Descritption:</h2>
  <p>{{ project.description }}</p>
  <h2>People:</h2>
  <ul>
    <li *ngFor="let person of project.personnes">- {{ person }}</li>
  </ul>
  <!-- <button
    mat-raised-button
    color="primary"
    type="submit"
    [Update]="Update"></button>
  <button mat-raised-button color="primary" type="submit" [Delete]="Delete">
    Register
  </button> -->
</div>
