<h1>Detail Person</h1>
<a mat-raised-button color="primary" [routerLink]="['/..']">Go back</a>

<h2
  *ngIf="!persons"
  class="lg:w-1/2 mx-auto flex flex-col space-y-4 text-center">
  Sorry, we couldn't find the project you were looking for. It may not exist.
  Please try again.
</h2>
<div *ngIf="persons" class="lg:w-1/2 mx-auto flex flex-col space-y-4">
  <h2>Person: {{ persons.id }}</h2>
  <div class="grid gap-5 grid-flow-row lg:grid-flow-col">
    <h2 class="inline-block">Last Name:</h2>
    <p class="inline-block">{{ persons.lastName }}</p>
    <h2>First Name:</h2>
    <p class="inline-block">{{ persons.firstName }}</p>
  </div>
  <!-- 
  <h2>Descritption:</h2>
  <p>{{ persons.job }}</p> -->
  <h2>People:</h2>
  <ul class="list-disc ml-12">
    <li *ngFor="let person of persons.job">
      {{ person }}
    </li>
  </ul>
  <div
    *ngIf="persons"
    class="grid gap-5 grid-flow-row w-1/2 mt-20 h-28 lg:grid-flow-col">
    <a
      mat-raised-button
      color="primary"
      [routerLink]="['/person', persons.id, 'update']"
      >Update</a
    >
    <button mat-raised-button color="primary" (click)="delete()">Delete</button>
  </div>
</div>
