<h1>Add a person</h1>
<form
  [formGroup]="form"
  class="grid lg:grid-cols-2 lg:gap-6 mx-4"
  (ngSubmit)="submitPerson()">
  <mat-form-field>
    <mat-label>First name</mat-label>
    <input
      formControlName="firstName"
      matInput
      placeholder="Ex: Thomas"
      value="" />
  </mat-form-field>

  <mat-form-field>
    <mat-label>Last name</mat-label>
    <input formControlName="lastName" matInput placeholder="Petito" value="" />
  </mat-form-field>

  <mat-form-field>
    <mat-label>Job</mat-label>
    <mat-select formControlName="job">
      <mat-option *ngFor="let job of jobs" [value]="job">{{
        job.name
      }}</mat-option>
    </mat-select>
  </mat-form-field>

  <div class="lg:col-span-2 grid justify-center">
    <button
      class="w-80"
      mat-raised-button
      color="primary"
      type="submit"
      [disabled]="!form.valid">
      Publish new person
    </button>
    <p *ngIf="personIdAlreadyUsed" class="text-red-500 mx-auto">
      This ID's number has already been used.
    </p>
  </div>
</form>
